@import '../assets/style/variables.scss';
@import '../assets/style/mixin.scss';

.contact{
  width: 90%;
  margin-left: 33%;

    @include screen(1024px){
padding-top: 20vh;
    }

    .title {
        padding-top: 55px;
        width: 100%;
        hr {
          width: 8%;
          margin: 25px 0;
          padding-bottom: 10px;
          border-radius: 10px;
          background-color: $colorRed;
          border: none;
        }
    
        p {
          font-size: 20px;
        }
      }


      .inputForm{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include screen(1024px){
          padding-bottom: 20vh;
        
        }
        label{
            width: 100%;
    
            input{
                width: 100%;
                border: 1px solid #ccc;
                padding: 10px 0;
                font-size: 20px;
            }
          }
    .btn{
        background-color: red;
        border: none;
        padding: 15px 0;
        color: aliceblue;
        font-size: 18px;
        opacity: 0.8;
        cursor: pointer;

        &:hover{
            background-color: #ccc;
            color: #000;
        }
    }
      }
      
}