@import "../assets//style/mixin.scss";
@import "../assets/style/variables.scss";
.footer{

    margin-top: 35px;
    width: 90%;
    margin-left: 33%;
    height: 120px;
    background-color: rgb(189, 183, 174);
    display: flex;
    justify-content: center;
    align-items: center;
@include screen(1024px){
  
  width: 100%;
  margin: 0;
 

  }
}